<div class="post-content" itemprop="articleBody">
    <h2>Publications</h2>
    <strong>
        <a href="https://aas-rocky-mountain-section.org/">The EscaPADE Mission Design</a>
    </strong>
    <p>
        J. S. Parker, A. Koehler, C. Ott, and T. M. Sullivan. American Astronautical
        Society (AAS) Guidance, Navigation & Control (GNC) Conference, 2022.
    </p>

    <strong>
        <a href="https://www.researchgate.net/publication/364011483_Neural_Networks_for_Onboard_Maneuver_Design">Neural
            Networks for Onboard Maneuver Design</a>
    </strong>

    <p>
        N. Ré, T. M. Sullivan, M. D. Popplewell, K. S. Roerig, C. Michael, T. Hanff,
        T. Presser. International Astronautical Congress (IAC), 2022.
    </p>
</div>