// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "Georgia";
$base-font-family: "Merriweather" "Times" "Serif";
$base-font-size: 16px;
$code-font-size: 16px;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;